extends layout

block content
    .container
        if breadcrumbs
            ul.breadcrumb
                each crumb, index in breadcrumbs
                    if index == breadcrumbs.length - 1
                        li.active
                            | #{crumb.name}
                    else
                        li
                            a(href="#{crumb.link}") #{crumb.name}
        if accessRights.upload
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-success
                    #fileUploadHeading.panel-heading
                        h3.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseFileUpload', aria-expanded='false', aria-controls='collapseFileUpload') Upload File
                    #collapseFileUpload.panel-collapse.collapse(role='tabpanel', aria-labelledby='fileUploadHeading')
                        .panel-body
                            form.form-inline(action='/api/signedPut/#{downloadName}')
                                .form-group
                                    input#uploadFile(type='file')
                                    p.help-block Select a file to upload for #{downloadName}.
                                | 
                                button#uploadFileButton.btn.btn-default(type='submit') Upload
                            #uploadFileProgress.progress.collapse
                                .progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100')
                                    span.sr-only 0% Complete
        .panel.panel-default
            .panel-heading
                h3.panel-title Files
            .panel-body
                table#downloadFileList.table.table-striped.table-bordered
                    thead
                        tr
                            if accessRights.delete
                                th
                                    button.btn.btn-default(type='button', disabled='')
                                        span.glyphicon.glyphicon-trash(aria-hidden='true')
                            th Name
                            th File Size
                            th Last Modified
        .clearfix
            .btn-group.pull-right(role='group')
                button.btn.btn-disabled(type='button') README.md
                if accessRights.upload
                    button.btn.btn-default(type='button', data-toggle='modal', data-target='#editReadme') edit
        .panel.panel-default
            .panel-body
                #readme.markdown-body Loading...
        include inc/editReadme
        // Need to expose downloadName to javascript
        script.
            internals.downloadName = '#{downloadName}';
            internals.readmeUrl = '#{readme}';
